@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: unset !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-weight: 400;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


:focus-visible {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #140A4B !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@layer base {
    .model-label {
        @apply opacity-100 leading-4 text-[13px] bg-red-gradient rounded-[4px] px-2 py-1 shadow-custom-lg shadow-shadow-light/20 text-white font-semibold;
      }

    #questions-form input:-webkit-autofill,
    #questions-form  input:-webkit-autofill:hover,
    #questions-form  input:-webkit-autofill:focus,
    #questions-form  input:-webkit-autofill:active {
        -webkit-text-fill-color: #fff !important;
    }
    h2 {
        @apply leading-[1.2] !important;
    }

    ul {
        @apply pl-4;
    }

    li {
        @apply mb-1;
    }

    p, ul {
        @apply text-primary/70 leading-[1.9];
    }
    
    .swiper-pagination-bullet {
        @apply bg-secondary-red-100 !important;
    }

    .dexon-swiper .swiper-slide {
        @apply transition-all duration-200 !important;
    }

    .dexon-swiper .swiper-slide a {
        @apply leading-[1] !important;
    }

    /* .dexon-swiper .swiper-slide:not(.swiper-slide-active) a {
        background: #fff !important;
        @apply text-secondary-red-100 ring-0 p-0 !important;
    } */

    .dexon-swiper-wrapper .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        @apply bg-secondary-gray-300 !important;
    }

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        @apply bg-white opacity-100 !important;
    }

    .container {
        @apply px-4;
    }
    
    .th h1, .th h2, .th h3, .th h4, .th h5, .th button  {
        @apply font-semibold;
    }

    .th .main-menu p {
        @apply font-medium;
    }

    .th .submenu-inner a, .th .submenu-inner a span, .th .submenu-inner a div {
        @apply text-sm font-[400];
    }

    html {
        @apply bg-white text-primary
    }

     .dark {
        @apply bg-white text-primary;
    }

    .dark .header-sm {
        @apply before:bg-header-pattern-dark
    }
}

@layer components { 
    .btn-sm {
        @apply text-base px-6 py-3.5 leading-[3] !important;
    }
    .indicator { 
        @apply absolute bg-white border-secondary-red-100 border rounded-md w-[384px] h-[70px] transition duration-200 ease-out
    } 

    .main-menu a.router-link-active.router-link-exact-active.active .main-menu-inner, .main-menu a .main-menu-inner {
        @apply active:scale-100;
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(1).active~.indicator, .main-menu a:nth-child(1).active~.indicator {
        transform: translateY(0px);
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(2).active~.indicator, .main-menu a:nth-child(2).active~.indicator {
        transform: translateY(70px);
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(3).active~.indicator, .main-menu a:nth-child(3).active~.indicator {
        transform: translateY(calc(70px*2));
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(4).active~.indicator, .main-menu a:nth-child(4).active~.indicator {
        transform: translateY(calc(70px*3));
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(5).active~.indicator, .main-menu a:nth-child(5).active~.indicator {
        transform: translateY(calc(70px*4));
    }

    .main-menu a.router-link-active.router-link-exact-active:nth-child(6).active~.indicator, .main-menu a:nth-child(6).active~.indicator {
        transform: translateY(calc(70px*5));
    }
    

    .submenu::-webkit-scrollbar {
        width: 5px;
    }

    .submenu::-webkit-scrollbar-track {
        @apply bg-gray-300;
        border-radius: 5px;
    }

    .submenu::-webkit-scrollbar-thumb {
        @apply bg-gray-400 border-secondary-gray-300 rounded-sm;
    }

    .submenu {
        @apply max-h-[370px] overflow-y-auto overflow-x-hidden;
    }

    .menu-item a.navigation.router-link-active.router-link-exact-active {
        @apply text-secondary-red-100 !important;
    }

    .light .lg\:affix-pattern a.navigation.router-link-active.router-link-exact-active {
        @apply text-secondary-red-100 !important;
    }

    .dark .lg\:affix-pattern a.navigation.router-link-active.router-link-exact-active {
        @apply text-white !important;
    }

    .main-menu a.router-link-active.router-link-exact-active .main-menu-inner {
        @apply lg:scale-[95%];
    }

    .mobile .main-menu a.router-link-active.router-link-exact-active p {
        @apply text-secondary-red-100;
    }

    .desktop .main-menu a.router-link-active.router-link-exact-active p, .desktop .main-menu a.main-menu-inner p {
        @apply first:text-secondary-red-100 !important;
        @apply last:text-secondary-red-100/50 !important;
    }

    .main-menu a.router-link-active.router-link-exact-active svg {
        @apply text-secondary-red-100 !important;
    }

    a.router-link-active.router-link-exact-active.submenu--list {
        @apply text-secondary-red-100;
    }
    
    a.router-link-active.router-link-exact-active.submenu--list .arrow-right {
        @apply scale-100;
    }
    
    a.router-link-active.router-link-exact-active.submenu--list .arrow-up.not-active {
        @apply rotate-90; 
    }

    a.router-link-active.router-link-exact-active.submenu--list-submenu, 
    .submenu--list-submenu a.router-link-active.router-link-exact-active {
        @apply text-secondary-red-100;
    }
    
    .header-sm {
        @apply z-10 overflow-hidden 
        before:bg-header-pattern-light
        before:absolute 
        lg:before:right-[-20rem] 
        xl:before:right-[-18rem] 
        2xl:before:right-[-14rem] 
        3xl:before:right-[-5rem] 
        before:inset-y-0 
        before:w-full 
        before:bg-no-repeat 
        before:bg-right
        before:z-[-1];
    }

    .affix a:not(.submenu-inner a, .mobile a) {
        @apply dark:text-white !important;
        
    }

    .affix-pattern {
        @apply before:dark:bg-header-pattern-dark
        before:bg-none
        before:absolute 
        before:-right-[50%] 
        lg:before:-right-[35%] 
        xl:before:-right-[25%] 
        2xl:before:-right-[18%]
        3xl:before:-right-[10%]
        before:inset-y-0 
        before:w-full 
        before:bg-no-repeat 
        before:bg-right
        before:z-[-1] ;
    }
    .header-lg {
        @apply lg:h-[60px];
    }
    .header-lg .menu-item {
        @apply last:pr-0
    }
    .btn-primary{
        @apply text-sm px-3.5 py-1.5 rounded-full;
    }
    .bg-red-gradient {
        @apply  bg-gradient-to-l from-secondary-red-100 to-secondary-red-200;
    }
    /* .breadcrumbs a.router-link-active.router-link-exact-active {
        @apply text-secondary-red-100 font-semibold;
    } */

   
}
